html
   head
       title=title
       link(rel='stylesheet', href='/css/main.css')
   body
       br
       br
       .container
           .jumbotron
               h1 Hello, world!
               p ...
               p: a(href='#', role='button').btn.btn-primary.btn-lg learn more

       script(src='/js/dev.js', type='text/javascript')